body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-color: gray;
}

#feedback_area {
	background-color: white;
	margin: 10px;
	padding: 5px;
	height: 200px;
	border-radius: 4px;
}

#user_input {
	margin: 10px;
	padding: 5px;
    height: 350px;
	border-radius: 4px;
	font-size: 1em;
}